<main class="contenedor asistentes">
    <h1><%= pagename %></h1>

    <% if(attendees.length > 0 ) { %>
        <ul class="listado-asistentes">
            <% attendees.forEach(attendee => {  %>
                <li>
                    <div class="imagen">
                        <% if(attendee.image) { %> 
                            <img src="/uploads/profiles/<%= attendee.image %>">
                        <%} else { %>
                            <img src="/img/user.png">
                        <% } %>
                    </div>
                    <div class="texto">
                        <%= attendee.name %>
                    </div>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p class="no-asistentes">No hay asistentes</p>
    <% } %>
</main>