<main class="contenedor contenedor-formularios">
    <h1><%= pagename %></h1>

    <form class="default-form" method="POST" enctype="multipart/form-data">
        <div class="campo">
            <label>Imagen</label>
            <input type="file" name="image">
        </div>
        <% if(group.image) { %>
        <div class="campo groups">
            <label>Imagen Actual</label>
            <img src="/uploads/groups/<%= group.image %>">
        </div>
        <% } else { %>
            <p>No hay imagen actual</p>
        <% } %> 
        <div class="campo enviar">
            <input type="submit" value="Actualizar Imagen" class="btn btn-rosa">
        </div>
    </form>
</main>