<main class="contenedor contenedor-formularios no-padding">
    <h1><%= pagename %></h1>

    <form class="default-form" action="/user/new-group" method="POST" enctype="multipart/form-data">
        <div class="campo">
            <label>Nombre</label>
            <input type="text" name="name" placeholder="Nombre Grupo">
        </div>

        <div class="campo descripcion">
            <label>Descripción</label>
            <div class="contenedor-editor">
                <input type="hidden" id="x" name="description">
                <trix-editor input="x"></trix-editor>
            </div>
        </div>
        <div class="campo">
            <label>Categoría</label>
            <select name="category">
                <option value="" selected disabled>-- Elige una categoria --</option>
                <% categories.forEach(category => { %>
                    <option value="<%= category._id %>"><%= category.name %></option>
                <% }) %>
            </select>
        </div>
        <div class="campo">
            <label>Imagen</label>
            <input type="file" name="image" accept="image/*">
        </div>
        <div class="campo">
            <label>Sitio Web</label>
            <input type="url" name="websiteUrl" placeholder="Sitio Web">
        </div>
        <div class="campo enviar">
            <input type="submit" value="Crear Grupo" class="btn btn-rosa">
        </div>
    </form>
</main>