<h1 style="
    text-align: center;
    font-family: Arial, Helvetica;
">Confirmar tu Cuenta</h1>
<p style="font-family: Arial, Helvetica;">Hola, estás a un paso de comenzar a crear una comunidad en Meeti, solo debes confirmar tu cuenta en el siguiente enlace:</p>

<div style="
    text-align: center;
">
<a style="
    display: inline-block;
    font-family: Arial, Helvetica;
    padding: 1rem;
    background-color: #00C897;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
" href="<%= url %>">Confirmar tu cuenta.</a>
</div>
<p style="font-family: Arial, Helvetica;">Sino puedes acceder a este enlace, vísita : <%= url %>.</p>

<p style="font-family: Arial, Helvetica;">Si no solicitaste este e-mail puedes ignorarlo.</p>